/* Your custom styles */

.bg-main {
    background-color: rgba(230,230,230,1)
}

.bg-slide {
    background-color: rgba(255,255,255,0.8)
}

.bg-menu {
    background-color: rgba(10,147,226,0.8);
    border-radius: .3rem .3rem 0 0;
}

.bg-menu-gradient {
    background: linear-gradient(40deg,rgba(10,147,226,0.4),rgba(10,147,226,0.8))
/*    background-color: rgba(10,147,226,0.8)*/
}

.fill-80-viewport {
  min-height: 80vh
}

.fill-100 {
  min-height: 100vh;
  height: 100vh;
}

.text-main {
    color: rgba(10,147,226,1)
}

.text-profit {
    color: rgba(65,181,42,1);
}

.text-loss {
    color: rgba(181,42,42,1);
}

.text-menu {
    font-weight: 500;
    color: rgba(255,255,255,1.0);
    opacity: 0.7;
}

.text-menu.active {
    opacity: 1.0;
}

.text-h5 {
    font-size: 1.25rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    padding-top: .5rem;
}

.font-size-07 {
    font-size: 0.7rem;
}

.testimonial-card .card-up {
    overflow: hidden;
    height: 47px;
    border-radius: .3rem .3rem 0 0;
}

.card-up {
    width: 100%;
    color: rgba(255,255,255,1);
    padding-right: 1.25rem;
}

.testimonial-card .avatar {
    border-radius: 50%;
    height: 47px;
    width: 47px;
    margin: -22px 0 -44px;
    overflow: hidden;
    border: 3px solid #fff
}

.testimonial-card .avatar img {
    width: 100%
}

.testimonial-card .card-body {
    text-align: center
}
