/* You can add global styles to this file, and also import other style files */

.bg-main {
    background-color: rgba(230,230,230,1)
}

.bg-slide {
    background-color: rgba(255,255,255,0.8)
}

.bg-menu {
    background-color: rgba(10,147,226,0.8)
}

.fill-80-viewport {
  min-height: 80vh
}

.text-main {
    color: rgba(10,147,226,1)
}

.text-profit {
    color: rgba(65,181,42,1);
}

.text-loss {
    color: rgba(181,42,42,1);
}

.font-size-07 {
    font-size: 0.7rem;
}

.cursor-pointer {
    cursor: pointer;
}